.progress.plain {
    background: rgba(216,40,69,0.15);
}
.spinner,
#fancybox-loading div,
.tp-loader.spinner0 {
    border-left: 3px solid rgba(216,40,69,.15);
    border-right: 3px solid rgba(216,40,69,.15);
    border-bottom: 3px solid rgba(216,40,69,.15);
    border-top: 3px solid rgba(216,40,69,.8);
}
a {
    color: #d82845;
}
.colored {
    color: #d82845
}
.post-title a:hover {
    color: #d82845
}
.black-wrapper a:hover {
    color: #d82845
}
.color-wrapper {
    background: #e30613
}
ul.circled li:before {
    color: #e30613;
}
.contact-info i {
    color: #e30613;
}
footer.black-wrapper a:hover {
    color: #e30613;
}
.subfooter a:hover {
    color: #e30613;
}
.nav > li > a:hover {
    color: #e30613;
}
.nav > li.current > a {
    color: #e30613;
}
.navbar .dropdown-menu {
    border-top: 2px solid #d82845 !important;
}
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
    color: #d82845;
}
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-menu > .active > a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
    color: #d82845;
}
.btn,
.btn-submit {
    background: #e30613;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #c5243f;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active {
    background: #d82845 !important;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel .owl-controls .owl-nav .owl-next:hover {
    color: #d82845
}
.progress-list li em {
    color: #d82845;
}
.progress.plain .bar {
    background: #d82845;
}
.parallax a:hover {
    color: #d82845
}
.newsletter-wrapper #mc_embed_signup .button {
    background: #d82845;
}
.newsletter-wrapper #mc_embed_signup .button:hover {
    background: #c5243f;
}
.pricing .plan h4 span {
    color: #d82845
}
.post-content .meta a:hover,
.more {
    color: #d82845
}
.post-content .meta a:hover
.post-content .footer-meta a:hover {
    color: #d82845
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #d82845 !important;
}
.sidebox a:hover {
    color: #d82845
}
ul.tag-list li a:hover {
    color: #d82845 !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    -webkit-box-shadow: 0 1px 0 #d82845;
    -moz-box-shadow: 0 1px 0 #d82845;
    box-shadow: 0 1px 0 #d82845;
}
#comments .info h2 a:hover {
    color: #d82845
}
#comments a.reply-link:hover {
    color: #d82845
}
.filter li a:hover,
.filter li a.active {
    color: #d82845
}
.panel-title > a:hover {
    color: #d82845
}
.tabs-top .tab a:hover,
.tabs-top .tab.active a {
    color: #d82845;
}
.tooltip-inner {
    background-color: #d82845;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #d82845
}
.tooltip.right .tooltip-arrow {
    border-right-color: #d82845
}
.tooltip.left .tooltip-arrow {
    border-left-color: #d82845
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #d82845
}
@media (max-width: 767px) { 
	.filter li a:hover,
	.filter li a.active {
	    color: #d82845
	}
}